* {
    font-family: monospace, 'Courier New', Courier;
}

body, section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin: 40px 20px;
    padding: 12px;
    border: 1px solid #c0c0c0;
}

button {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    background-color: transparent;
}

h1 {
    margin: 30px 20px;
}

a {
    text-decoration: none;
    color: #53709F;
    cursor: pointer;
}

a:hover {
    color: #53709fa5;
    text-decoration: underline;
    cursor: pointer;
}